# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
/elpa/
/history
/ido.last
/transient/
/eshell/
/projects
/.lsp-session-v1
/projectile-bookmarks.eld
/places
/projectile.cache
/forge-database.sqlite
